<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" />
    <script src="{{url_for('static', filename='jquery/jquery-3.6.0.slim.min.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <title>Đồ án cuối kỳ NLP</title>
    <script>
        localStorage.removeItem('summarized');
    </script>
</head>

<body>
    <div class="container-fluid" style="padding: 0;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#"><img height="47px" src="https://scontent.fsgn2-1.fna.fbcdn.net/v/t1.6435-9/44060649_273413276694945_2459900286370578432_n.jpg?_nc_cat=105&ccb=1-6&_nc_sid=09cbfe&_nc_ohc=Pq-r7bearukAX9npUgV&_nc_ht=scontent.fsgn2-1.fna&oh=00_AT8ALpQELXB6rQ31oD_eSF7nCUoxd09WEDlEGlmeFMyqwQ&oe=62A5671D" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white display-5" href="/"><strong> DINOSAUR Team - Industrial University of Ho Chi Minh City</strong> <span class="sr-only">(current)</span></a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/bert">BERT + KMeans<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/word2vec">Word2Vec + KMeans<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/score">Score<span class="sr-only">(current)</span></a>
                    </li> -->
                </ul>
            </div>
        </nav>
    </div>
    <div class="container-fluid" style="padding: 0;">
        <div id="title" class="row mt-3 justify-content-center">
            <h1><strong>VIETNAMESE TEXT SUMMARIZATION</strong></h1>
        </div>
    </div>
    <div class="container-fluid" style="padding: 0;">
        {% block main %}
        {% endblock %}
    </div>
    <footer class="bg-dark">
        <div id="info" class="row mt-4 p-3 h-2 text-white justify-content-center">
            <div class="col-md-2">
                <div class="row"><a style="margin: auto;">Trần Tuấn Vũ</a></div>
                <div class="row"><a style="margin: auto;">Thanh Phong</a></div>
                <div class="row"><a style="margin: auto;">Đoàn Minh Trường</a></div>
            </div>
            <div class="col-md-2">
                <div class="row"><a style="margin: auto;">19474281</a></div>
                <div class="row"><a style="margin: auto;">19475611</a></div>
                <div class="row"><a style="margin: auto;">19519011</a></div>

            </div>
        </div>
    </footer>
</body>

</html>